{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id="posts-page">
    {% if user.is_authenticated and hideForm == False %}
    <section id="posts-display" class="page">
        <span id="new-post">
            <textarea placeholder="New post..."></textarea>
            <div class="center" id="error-message"></div>
            <button class="submit-button" id="create-post">Post</button>
        </span>
    </section>
    {% elif hideForm == True and profilePage %}
    <header>USER: {{username}}</header>
    <section id="follow-details" class="page">
        Followers: {{followers}}<br>
        Following: {{following}}<br>
        {% if user.username != username %}
            {% if isFollowing %}
                <span class="follow" data-action="unfollow" data-id="{{post.user}}">Unfollow <i class="fa fa-user-times"></i></span>
            {% else %}
                <span class="follow" data-action="follow" data-id="{{post.user}}">Follow <i class="fa fa-user-plus"></i></span>
            {% endif %}
        {% endif %}
    </section>
    {% endif %}
    <div class="page center" id="posts-list">
        {% for post in posts %}
        <div class="post">
            <a class="post-author" href="{% url 'profile' post.user %}">{{post.user}} says...</a>
            {% if post.user != user and user.is_authenticated and profilePage == False %}
                {% if user.id in post.followed %}
                    <span class="follow" data-action="unfollow" data-id="{{post.user}}">Unfollow <i class="fa fa-user-times"></i></span>
                {% else %}
                    <span class="follow" data-action="follow" data-id="{{post.user}}">Follow <i class="fa fa-user-plus"></i></span>
                {% endif %}
            {% endif %}            
            <div class="post-content" id="post{{post.id}}">{{post.post}}</div>
            {% if post.user == user %}
                <button class="update{{post.id}} update hidden" id="update">Update</button>
                <button class="update{{post.id}} update hidden">Cancel</button>
                <button class="edit button" id="edit{{post.id}}" data-id="{{post.id}}"><i class="fa fa-edit"></i></button>
            {% endif %}
            <div class="like-container">
                <i class="fa fa-heart"></i>            
                <span class="like-count" id="{{post.id}}">{{post.like_count}}</span>
            </div>
            {% if user.is_authenticated %}
                {% if user.id in post.liked %}
                    <div class="like" data-action="unlike" data-id="{{post.id}}">Unlike</div>
                {% else %}
                    <div class="like" data-action="like" data-id="{{post.id}}">Like</div>
                {% endif %}
            {% endif %}
            <span class="post-timestamp">
            {% if post.user == user %}
                <button class="delete button" data-id="{{post.id}}"><i class="fa fa-trash"></i></button>       
            {% endif %}
            {{post.timestamp}}
            </span>
        </div>
        {% empty %}
        <div class="empty">No posts to display.</div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            {% if lower != 1 %}
            <ul class="pagination justify-content-center">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a></li>
                {% endif %}
                {% for page in lower %}
                    <li class="page-item"><a class="page-link" id="page{{page}}" href="?page={{page}}">{{page}}</a></li>
                {% endfor %}
                    <li class="page-item active"><a class="page-link" id="page{{page}}" href="?page={{page}}">{{posts.number}}</a></li>
                {% for page in upper %}
                    <li class="page-item"><a class="page-link" id="page{{page}}" href="?page={{page}}">{{page}}</a></li>
                {% endfor %}    
                {% if posts.has_next %}            
                    <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a></li>
                {% endif %}
            </ul>
            {% endif %}
          </nav>        
    </div>
</div>
<!-- <div id="profile-page" class="page" style="display:none">
    PROFILE
</div>
<div id="following-page" class="page" style="display:none">
    FOLLOWING
</div> -->
{% endblock %}

{% block script %}
<script src="{% static 'network/script.js' %}"></script>
{% endblock %}