header {
    text-align: end;
}

* {
    font-family: sans-serif;
    font-size: medium;
}

h1 {
    color: crimson;
    padding: 40px 0 30px 40px;
    font-size: larger;
    font-weight: normal;
}

a, a:visited, a:active {
    margin: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

input:not([type="submit"], [class="advanced"]) {
    border-radius: 25px;
    border: 1px solid lightgray;
    height: 40px;
    width: 500px;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
}

input[type='submit']:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
}

input[type='submit']:focus {
    border: 1px solid rgb(36, 36, 255);
}

input:not([type='submit'], [class="advanced"]):hover {
    box-shadow: 1px 1px 10px lightgray;
}

input[type='submit'] {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    background-color: whitesmoke;
    border-radius: 5px;
    border: none;
    margin: 20px 5px 0 5px;
}

#advanced {
    background-color:cornflowerblue;
    color: white;
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}

#advanced:hover {
    cursor:default;
}

#advancedtext {
    float: left;
    padding-top: 212px;
    padding-left: 150px;
}

p {
    display: inline-block;
    text-align: left;
}

#advanced:focus {
    box-shadow: 0px 0px 0px 1px white inset;
}

.center {
    text-align: center;
    padding-top: 200px;
    left: 50%;
    transform:translateX(-50%);
    position: absolute;
}

.inline {
    display: inline-block;
    white-space: nowrap;
}

.grid {
    display: grid;
    margin-left: 40px;
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    grid-template-columns: 200px auto;
}

.grid-itemp {
    padding-top: 7px;
    font-size: smaller;
}

.advanced {
    max-width: 70%;
    border: 1px solid lightgray;
    height: 30px;
    width: 1400px;
    outline-color: cornflowerblue;
}

@media screen and (min-width: 430px) {
    .grid-item {
        width: 60vw;
    }
}

@media screen and (max-width: 630px) {
    input:not([type="submit"], [class="advanced"]), .inline {
        width: 80vw;
    }
}

@media screen and (max-width: 420px) {
    input:not([type="text"], [id="advanced"]) {
        visibility: hidden;
        display: none;
    }
    
    .grid {
        display: grid;
        margin-left: 5px;
        grid-row-gap: 5px;
        grid-template-columns: 100vw;
    }

    .grid-item {
        max-width: 92%;
    }

    .advanced {
        max-width: 100%;
    }

    h1 {
        padding-left: 5px;
    }
}