body {
    margin: 0;
    background-color: white;
    overflow-x: hidden;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 60vh;
    width: 80%;
    display: block;
    margin: auto;
}

input[type="submit"] {
    display: block;
    margin: 10px auto;
    padding: 1px 20px 1px 20px;
}

.title {
    display: block;
    margin: auto;
    margin-bottom: 10px
}

.main {
    padding: 10px;
}

ul {
    text-align: left;;
}

h1, h2:not(#wiki) {
    text-align: center;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.alert {
    text-align: center;
}

.center {
    margin: auto;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}