body {
    margin-top: 50px;
}


textarea {
    min-height: 400px;
    width: 100%;
    resize: none;
}


#noedit {
    user-select: none;
    border: none;
    height: 100%;
}


#noedit:focus {
    outline: none;
}


.sender {
    font-size:larger;
    font-weight: bolder;
    margin-bottom: 15px;
}


.time {
    font-size: smaller;
    font-weight: lighter;
    padding-top: 3px;
}


.preview {
    display: flex;
    justify-content: center;
}


.emailList {
    border: 2px solid lightgrey;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}


.emailList:hover {
    background-color: darkgray;
}


.emailRead {
    background-color: lightgrey;
    border: none;
}


.emailDetails {
    display: block;
}


#email-display {
    width: auto;
}


#emails-view {
    position: relative;
}


#wrapper {
    display: flex;
}


#archiveBTN {
    width: 150px;
}


#reply {
    width: 100px;
    margin-left: 25px;
}


.buttons {
    margin-top: 50px;
}