.hidden {
    display: none
}

.center {
    text-align: center;
}


#posts-display, #posts-list {
    border:lightgray 1px solid;
    margin: 15px;
}


#new-post {
    width: 100%;
}

.post {
    padding: 25px;
    position: relative;
}


.post-timestamp {
    position: absolute;
    right: 150px;
    bottom: 30px;
    font-style: italic;
}


.post-author {
    padding-top: 20px;
    position: absolute;
    left: 250px;
    top: 30px;
    font-size: larger;
}

.follow {
    position: absolute;
    left: 250px;
    top: 80px;
    font-size: smaller;
    cursor: pointer;
    color: blue;
}

.post-content {
    padding: 50px;
    font-size: xx-large;
    max-width: 65%;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}


.like {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */    
    cursor: pointer;
    color: blue;
}


.like-count {
    color:red;
}


textarea, .submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.submit-button {
    width: 10%;
    height: 35px;
}

.fa-heart {
    font-size:14px;
    color:red;
}

.fa-user-plus {
    font-size: 14px;
    color: black;
}