.hidden {
    display: none
}

.center {
    text-align: center;
}


#posts-display, #posts-list {
    border:lightgray 1px solid;
    margin: 15px;
}


#new-post {
    width: 100%;
}

.post {
    padding: 25px;
    position: relative;
}


.post-timestamp {
    position: absolute;
    right: 150px;
    bottom: 30px;
    font-style: italic;
}


.post-author {
    padding-top: 20px;
    position: absolute;
    left: 250px;
    top: 30px;
    font-size: larger;
}

.post-content {
    padding: 50px;
    font-size: xx-large;
}


textarea, .submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.submit-button {
    width: 10%;
    height: 35px;
}