.hidden {
    display: none
}

.center {
    text-align: center;
}


#posts-display, #posts-list {
    border:lightgray 1px solid;
    margin: 15px;
}


#new-post {
    width: 100%;
}

.post {
    border: lightgray 1px solid;
    padding: 25px;
    position: relative;
}

.post-details {
    position: absolute;
    right: 5px;
    bottom: 0px;
    font-style: italic;
}


textarea, .submit-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}


.submit-button {
    width: 10%;
    height: 35px;
}